.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.uppercase {
  text-transform: uppercase;
}

.\!visible {
  visibility: visible !important;
}

.visible {
  visibility: visible;
}

@media (min-width: 600px) {
  .sm\:mx-1 {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

.\[\&\>\*\]\:w-\[10px\]>* {
  width: 10px;
}

.\[\&\>\.MuiButton-startIcon\]\:absolute>.MuiButton-startIcon {
  position: absolute;
}

.\[\&\]\:last-of-type\:pb-6:last-of-type {
  padding-bottom: 60rem;
}

@media (min-width: 600px) {
  .sm\:\[\&_button\]\:text-sm button {
    font-size: 1.1rem;
  }
}

.w-10\/11 {
  width: 90.9090909%;
}

.w-10 {
  width: 20px;
}

.bg-blue-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(74 151 206 / var(--tw-bg-opacity));
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.hover\:bg-blue-600:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(27 70 100 / var(--tw-bg-opacity));
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.py-1 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.px-2 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.border-gray-400 {
  --tw-border-opacity: 1;
  border-color: rgb(224 224 224 / var(--tw-border-opacity));
}

.text-gray-800 {
  --tw-text-opacity: 1;
  color: rgb(97 97 97 / var(--tw-text-opacity));
}

.hover\:bg-gray-100:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(245 245 245 / var(--tw-bg-opacity));
}
